*{
    margin:0;
    padding:0;

    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

 /* NAVBAR */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    background:black;
    position:sticky;
    top:0;
    z-index:1000;
}
.logo{
color:white;
font-size:24px;
font-weight:bold;
}
.logo span{color:orange;}
nav a{
color:white;
margin-left:20px;
text-decoration:none;
}
nav a:hover{color:orange;}

/* SLIDER */
.slider{
height:80vh;
overflow:hidden;
}
.slides{
display:flex;
width:max-content;
height:100%;
animation:slide 15s infinite linear;
}
.slides img{
width:100%;
height:100%;
object-fit:cover;
}
@keyframes slide{
0%{transform:translateX(0);}
/* 33%{transform:translateX(-100%);}
66%{transform:translateX(-150%);} */
100%{transform:translateX(-50%);}
}

/* CATEGORIES */
.categories{
padding:70px;
text-align:center;
}
.cat-box{
display:flex;
justify-content:center;
gap:40px;
}
.cat-card{
width:280px;
padding:30px;
background:#f5f5f5;
border-radius:15px;
transition:.4s;
}
.cat-card:hover{transform:scale(1.1);}
.cat-card img{
width:100%;
height:200px;
object-fit:contain;
}

/* PRODUCTS */
.products{
padding:70px;
text-align:center;
background:#f5f5f5;
}
.products h2{
font-size:32px;margin-bottom:30px;
}
.product-box{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}
.card{
background:white;
padding:20px;
border-radius:12px;
transition:.4s;
animation:fadeUp 1s ease;
}
.card:hover{
transform:translateY(-20px);
box-shadow:0 10px 25px rgba(0,0,0,.2);
}
@keyframes fadeUp{
from{
    opacity:0;transform:translateY(50px);
}
to{
    opacity:1;transform:translateY(0);
}
}
.card img{
width:100%;
height:220px;
object-fit:contain;
}
.card p{color:orange;font-weight:bold;}
.card button{
width:100%;
padding:10px;
border:none;
background:black;
color:white;
cursor:pointer;
}
.card button:hover{background:orange;}
.clothes{background:white;}
.best{background:#eee;}

/* OFFER */
.offer{
padding:90px;
background:linear-gradient(to right,black,orange);
color:white;
text-align:center;
}
.offer h1{font-size:50px;}
.offer button{
margin-top:20px;
padding:12px 35px;
border:none;
font-size:18px;
}

/* WHY */
.why{
padding:70px;
text-align:center;
}
.why-box{
display:flex;
justify-content:center;
gap:30px;
}
.why-card{
padding:30px;
background:black;
color:white;
border-radius:12px;
width:220px;
}

/* NEWSLETTER */
.newsletter{
padding:70px;
text-align:center;
background:#f5f5f5;
}
.newsletter input{
padding:12px;
width:280px;
}
.newsletter button{
padding:12px 25px;
background:black;
color:white;
border:none;
}

/* FOOTER */
footer{
background:black;
color:white;
padding:40px;
}
.footer-box{
display:flex;
justify-content:space-between;
}
.copy{
text-align:center;
margin-top:20px;
font-size:14px;
}
